<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>历史位置</string>
			<key>viewName</key>
			<string>HistoryLocationVC</string>
			<key>subtitle</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>所有小孩位置</string>
			<key>viewName</key>
			<string>AllLocations</string>
			<key>subtitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>小孩管理</string>
			<key>viewName</key>
			<string>ChildrenListVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>消息中心</string>
			<key>viewName</key>
			<string>MsgViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>修改密码</string>
			<key>viewName</key>
			<string>FindPasswordVC</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>用户协议</string>
			<key>viewName</key>
			<string>UserProtocolVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>投诉建议</string>
			<key>viewName</key>
			<string>FeedbackVC</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>退出登录</string>
			<key>viewName</key>
			<string>Logoff</string>
		</dict>
	</array>
</array>
</plist>
