<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>亲情号码</string>
			<key>viewName</key>
			<string>AddRelativeMobileVC</string>
			<key>subtitle</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>定位模式</string>
			<key>viewName</key>
			<string>PositioningModeVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>时间间隔</string>
			<key>viewName</key>
			<string>TimeIntervalVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>睡眠时段</string>
			<key>viewName</key>
			<string>SleepTimeVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>静音时段</string>
			<key>viewName</key>
			<string>SilentDurationVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>碰撞检测</string>
			<key>viewName</key>
			<string>CollisionDetectionVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脱落检测</string>
			<key>viewName</key>
			<string>SheddingDetectionVC</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>电子栅栏</string>
			<key>viewName</key>
			<string>AlertAreaVC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蓝牙防丢</string>
			<key>viewName</key>
			<string>ReachToLocationVC</string>
		</dict>
	</array>
</array>
</plist>
